@import "tailwindcss";
@plugin "tailwindcss-animate";
@plugin "@tailwindcss/typography";

/* Order matters */
@import "./tokens.css";

/* Optional: only if you add custom overrides beyond Tailwind Preflight */
@import "./reset.css";

@import "./composition.css";
@import "./utilities.css";

@import "./blocks/buttons.css";
@import "./blocks/forms.css";
