---
import InfoPackFormIsland from "../features/InfoPack/islands/InfoPackFormIsland";
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Harmony Music Academy"
  description="Dublin’s premier music school"
>
  <main>
    <InfoPackFormIsland client:load />
  </main>
</Layout>
