---
import ToasterClient from "../components/ui/ToasterClient.tsx";
import ToastTest from "../components/ui/ToastTest.tsx";
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Harmony Music Academy"
  description="Dublin’s premier music school"
>
  <article class="prose">
    <h1>How to choose the right music teacher</h1>
    <p>Some text here explaining the process...</p>
  </article>

  <ToasterClient client:load />
  <ToastTest client:load />
</Layout>